<nav aria-label="Page navigation" *ngIf="totalPages > 1">
  <ul class="pagination justify-content-center flex-wrap">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" href="javascript:void(0)" (click)="goToPrevious()" aria-label="Previous">
        <app-lucide-icon name="chevron-left" size="18"></app-lucide-icon>
      </a>
    </li>
    <li class="page-item" *ngIf="pages[0] > 1">
      <a class="page-link" href="javascript:void(0)" (click)="selectPage(1)">1</a>
    </li>
    <li class="page-item" *ngIf="pages[0] > 2">
      <span class="page-link">...</span>
    </li>
    <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
      <a class="page-link" href="javascript:void(0)" (click)="selectPage(page)">{{ page }}</a>
    </li>
    <li class="page-item" *ngIf="pages[pages.length - 1] < totalPages - 1">
      <span class="page-link">...</span>
    </li>
    <li class="page-item" *ngIf="pages[pages.length - 1] < totalPages">
      <a class="page-link" href="javascript:void(0)" (click)="selectPage(totalPages)">{{ totalPages }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" href="javascript:void(0)" (click)="goToNext()" aria-label="Next">
        <app-lucide-icon name="chevron-right" size="18"></app-lucide-icon>
      </a>
    </li>
  </ul>
</nav>
